.show_journal{
    margin: 5%;
  }

  .journal_data_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 35px;
    justify-content: space-around;
    width: 50dvw;
    margin: 0 auto;
    
    /* background:rgb(255, 255, 255); */
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    position: relative;
  }
  
  .journal_data{
    border-bottom: 0.5px solid gray;
    padding: 20px;
    width: 100%;
   
  }

  .file_uploads{
    background:0;
    width: 50dvw;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    /* background:rgb(255, 255, 255); */
    color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  
  .journal_data > span {
    margin-left: 1%;
  }
 

.file_uploads_container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 15px;
  overflow-X: scroll;
  border: solid 0.5px gray;
  padding: 1em;
  margin-top: 2%;
}

.journal_data img.file{
  width: 200px;
}

.journal_data.journal_content_wrapper{
  width: 100%;
}

.journal_data.journal_data.journal_content_wrapper .journal_content{
  max-width: 21cm;
	min-height: 28.7cm;
	padding: 2cm;
	background: #fff;
	box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);
	color:black;
  margin: 5% auto;
}


/* *{outline: 1px solid red;} */
