<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>Homepage</title>
</head>
<body>
    <h1>Hello there, <%=name %></h1>

    <div class="container">
        <div class="members">
            <figure>
                <img src="img/nerddog.png" alt="">
                <figcaption>Group member 1</figcaption>
            </figure>
            <figure>
                <img src="img/nerddog.png" alt="">
                <figcaption>Group member 2</figcaption>
            </figure> <figure>
                <img src="img/nerddog.png" alt="">
                <figcaption>Group member 3</figcaption>
            </figure> <figure>
                <img src="img/nerddog.png" alt="">
                <figcaption>Group member 4</figcaption>
            </figure>
        </div>

        <div class="thing">
           <h2>overview in wp</h2>
           <p><a target="_blank" href="https://docs.google.com/document/d/1DCMLPOalkAZtk7MmpVVDOB2WWmuu3w4qxVlKzw2Hyu4/edit?usp=sharing">https://docs.google.com/document/d/1DCMLPOalkAZtk7MmpVVDOB2WWmuu3w4qxVlKzw2Hyu4/edit?usp=sharing</a></p>

           <h2>product specifications document</h2>
           <p><a target="_blank" href="https://docs.google.com/document/d/1VNJCMCp3WRN6VJqsizSwxlAaM-qpUVa5pCkr2jg3bCs/edit?usp=sharing">https://docs.google.com/document/d/1VNJCMCp3WRN6VJqsizSwxlAaM-qpUVa5pCkr2jg3bCs/edit?usp=sharing</a></p>

           <p style="color: black; font-size: x-small;">(ty solveig)</p>
        </div>
    </div>

  
</body>
</html>