*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(96, 96, 96);
}

h1{
    padding: 3%;
}

.container{
    margin: 2%;
    display: flex;
    gap: 15px;
    
}

.members {
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.members img{
    width: 150px;
    transition: opacity 0.3s ease-in-out; 
    
}

.members figure {
    position: relative;
    display: inline-block;
    z-index: 100;
}

.members figure:hover  {
    opacity: 1;
    scale:2;
    z-index: 100;
}

.members figure img:not(:hover) {
    opacity: 0.5; 
}

a{
    word-break: break-all;
    color: rgb(177, 177, 177);
}

p{
    margin-bottom: 5%;
}