table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
  }
  
  
  thead {
    background-color: #17A2B8;
    color: white;
  }
  
  td pre{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  .content > table tbody tr td > div {
    display: flex;
    gap: 10px;
  }
  
  
  .content > table tbody tr td > div a {
    color: #17A2B8;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .content > table tbody tr td > div a:hover {
    color: #217dbb;
  }

  /* .new_journal_btn_container{
    width: 133px;
  } */

  /* *{outline: 1px solid red;} */

  .new_journal_btn_Link{
    width: 15%;
  }

  button.new_journal_btn{
    margin-bottom: 2%;
    background-color: #17A2B8;
    transition: transform 0.2s ease-in-out;
  }
  
  button.new_journal_btn:hover {
    transform: scale(1.05);
  }

  button.new_journal_btn ~ span{
    position: relative;
    scale: 2.5;
    transform: translate(-5px, 13px);
    color: white;
  

  }

  /* *{outline: 1px solid red} */