.table_or_card{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 45px;
    margin: 5% auto;
    background-color: rgb(58, 59, 61);
}

.table_or_card div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.table_or_card div:hover{
    border-bottom: #475d60 3.5px solid;
}

div.selected_button{
    border-bottom: #17A2B8 3.5px solid;
    cursor:auto;
}

/* *{ outline: 1px solid red} */