:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(35,37,39);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

a { 
	text-decoration: none;
}

h1 {
  font-size: 1.3em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
  /* background-color: #1591A5; */
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  .create_journal input,
  .create_journal label {
    color: black;
  }

} */


.app{
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas: "nav content ";
  height: 100vh;
}

.content{
  grid-area: content;
  margin: 2%;
}

.content {
  margin: 20px;
}


main{ 
  display: flex;
  padding: 4%;
  gap: 10px;
  height: 100%;
}

main .other_container{
  width: 50%;
  background-color: gray;
  border-radius: 8px;
}

/* h1{
  margin: 3% 0;
} */
