.signup_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.signup h1{
    font-size: 50pt;
    margin-top: 50px;
}

.signup_container{
    width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 1em;
    background-color: rgb(244, 248, 247);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.signup_container .input_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.signup_container .input_container input[type='text'],
.signup_container  .input_container input[type='email'],
.signup_container .input_container input[type='password']{
    all: unset;
    background-color: rgb(46, 46, 46);
    padding: 1em;
    border-radius: 4px;
    border: solid 1px gray;
}

.signup_container .radio {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    color: black;
}

.signup_container .radio input[type=radio] {
    display:none; 
    margin:10px;
    
}

.signup_container .radio input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 0.5em 12px;
    background-color: rgb(244, 248, 247);
    border-color: #ddd;
    border-radius: 4px;
    border: solid 1px gray;
}

.signup_container .radio input[type=radio]:checked + label { 
   background-image: none;
   background-color: rgb(60, 60, 60);
   color: white;
}

#select_role_text{
    margin: 20px 0;
    color: rgb(60, 60, 60);
}

.signup_container button{
    margin-top: 50px;
}

/* *{outline: 1px solid red} */